/* your custom css */

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 510px) {
  .CookieConsentContentStyle {
    flex-direction: column!important;;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 736px) {
  .subscribleForm {
    width: 30vw;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media only screen and (min-device-width: 737px) and (max-device-width: 1080px) {
}

@media only screen and (min-width: 1080px) {
}


@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* latin */
@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech'), url(../fonts/ShareTech-Regular.ttf) format('truetype');
}

.fixedHeaderContainer {
    height: 60px;
    padding: 12px 0;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    font-size: 16px;
    font-weight: 400;
}

article,p,code {
  font-size: 16px;
}

body {
    font-family: $myFont;
}

footer,header a {
  font-family: $shareText;
}

footer h3{
  color: white;
}

footer span{
  color: rgba(255, 255, 255, 0.6);
}

.subscribleForm{
  margin-right: 3vw;
  margin-left: 3vw;
  min-width: 180px;
}

.subscribleForm input:focus{
  border: 1px solid #1B6DE0;
}

.subscribleForm input, button{
  outline: none;
  padding: 3px !important;
  border: 1px solid transparent;
  line-height: 20px !important;
  margin-top: 5px;
  width: 95%;
}

.subscribleForm button{
  background-color: #00b4a0;
  color: white;
}

.subscribleForm button:hover{
  background: #00a492;
}
article h2::before {
    content: '';
    width: 100%;
    height: 0.3125rem;
    display: block;
    background-color: #e0e0e0;
    margin: 3rem 0 1rem;
}

pre code {
    font-size: 90%!important;
}

.AcceptButtonWrapStyle  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.CookieConsentFlexStyle {
  position: fixed;
  left: 0px;
  bottom: 4px;
  width: 100%;
  z-index: 71;
  padding-left: 6.6vw;
  padding-right: 6.6vw;
  display: none;
}

.CookieConsentContentStyle {
  padding: 8px;
  font-size: 13px!important;
  background-color: #11161B;
  opacity: 0.97;
  width: 100%;
  display: flex;
  color: #ffffff;
  border: 1px #00bfbf45 solid;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
}

.ConsentTextStyle {
  margin: 0;
}


.SampleButtonStyle {
  cursor: pointer;
  -webkit-transition: background 0.3s, border-color 0.3s;
  -moz-transition: background 0.3s, border-color 0.3s;
  transition: background 0.3s, border-color 0.3s;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 5px !important;
  line-height: 22px;
  letter-spacing: unset;
  padding: 7px 10px!important;
  min-width: 140px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  padding-right: 24px;
  padding-reft: 24px;
  background: #00b4a0;
  box-sizing: border-box;
  font-family: inherit;
}

.SampleButtonStyle:hover{
  background: #00a492;
}

.toc .toggleNav ul li.navListItemActive a{
  border-bottom: 2px solid #00a492;
  padding-bottom: 3px;
  display: inline-block;
}
