







.sidebar
  margin-left 2rem  
  .sidebar-group-items
    >li>a.sidebar-link
      padding 1rem 0
      size 8rem
      font-weight bold
      color rgb(153,153,153)
      border none
      &.active
        font-weight 600
        color rgb(153,153,153)
  .sidebar-sub-headers
    padding 0
    a.sidebar-link
      padding 0
      color rgb(204,204,204)
      size 7rem
      font-weight bold
      line-height 3em
      display inline
      border-bottom 2px solid transparent
      &.active
        border-bottom 2px solid rgb(0,180,160)
        font-weight 600
        color rgb(51,51,51)
