@require '~vuepress-plugin-tabs/dist/themes/default.styl'

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.tabs-component
  div[class*='language-']
    margin 0
  .tabs-component-tabs
    border none
    align-items stretch
    display flex
    justify-content flex-start
    margin-bottom -1px
    .is-active
      border-bottom solid 1px #fff
      z-index 2
      transform translateY(0)
  .tabs-component-tab
    background-color #fff
    border solid 1px #ddd
    border-radius 3px 3px 0 0
    margin-right 0.25em
    transition transform 0.3s ease
  .tabs-component-panels
    border-top-left-radius 0
    background-color #fff
    border solid 1px #ddd
    border-radius 0 6px 6px 6px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.05)
    padding 1em 1em
